body {
    background: #FFA900;
    color: #CD113B;
    text-align: left;
    overflow: auto;
    background-image: url('https://media.giphy.com/media/01vw80KKJxhEtJNZvK/giphy.gif');
    background-repeat: no-repeat;
    background-size: 1550px 900px;
}
